# Tf-Idf example

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, 
                        max_df=0.5,
                        ngram_range=(1, 1))
features = tfidf.fit_transform(texts)
print(features.todense())
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

[[0.         1.         0.        ]
 [0.         0.70710678 0.70710678]
 [0.70710678 0.         0.70710678]
 [1.         0.         0.        ]
 [0.         0.         0.        ]]

       like     movie       not
0  0.000000  1.000000  0.000000
1  0.000000  0.707107  0.707107
2  0.707107  0.000000  0.707107
3  1.000000  0.000000  0.000000
4  0.000000  0.000000  0.000000

In [7]:
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, 
                        max_df=0.5,
                        ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
print(features.todense())
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

[[0.70710678 0.         0.70710678 0.        ]
 [0.57735027 0.         0.57735027 0.57735027]
 [0.         0.70710678 0.         0.70710678]
 [0.         1.         0.         0.        ]
 [0.         0.         0.         0.        ]]

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000

In [8]:
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, 
                        max_df=0.5,
                        ngram_range=(1, 3))
features = tfidf.fit_transform(texts)
print(features.todense())
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

[[0.70710678 0.         0.70710678 0.        ]
 [0.57735027 0.         0.57735027 0.57735027]
 [0.         0.70710678 0.         0.70710678]
 [0.         1.         0.         0.        ]
 [0.         0.         0.         0.        ]]

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000